# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

/client
/Cahier_des_Charges_Cabinet_Medical.docx


# Compiled output
/clientv2/dist
/clientv2/tmp
/clientv2/out-tsc
/clientv2/bazel-out


# Node
/clientv2/node_modules
/clientv2/npm-debug.log
/clientv2/yarn-error.log

# IDEs and editors
/clientv2/.idea/
/clientv2/.project
/clientv2/.classpath
/clientv2/.c9/
/clientv2/*.launch
/clientv2/.settings/
/clientv2/*.sublime-workspace

# Visual Studio Code
/clientv2/.vscode/*
/clientv2/!.vscode/settings.json
/clientv2/!.vscode/tasks.json
/clientv2/!.vscode/launch.json
/clientv2/!.vscode/extensions.json
/clientv2/.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Spring Boot specific
/target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
